/* Universal */
@import url("https://fonts.googleapis.com/css2?family=Inder&family=Jost:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Inder", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 1460px;
  width: 100%;
  display: flex;
  margin-inline: auto;
  flex-direction: column;
}
/* end universal */

/* navbar */
#navbar-container {
  position: fixed;
  max-width: 1460px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  transition: background 0.3s;
}

.logo {
  color: white;
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 60px;
}

nav ul {
  font-size: large;
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

nav ul li {
  list-style-type: none;
}

nav a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

nav a:hover {
  color: #46c5d3;
  font-weight: 700;
}
/* end navbar */

/* main content */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

aside .biodata {
  width: 60px;
  height: fit-content;
  display: flex;
  align-items: start;
  position: relative;
  transition: width 0.7s;
}

aside .biodata:hover {
  width: 320px;
}

main aside img[src*="sideIcon"] {
  min-height: 20px;
  max-width: 80px;
}

aside .profile {
  position: absolute;
  top: 4px;
  left: 80px;
  width: 240px;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  background-color: #a8e4eb;
  border-radius: 0 0 0 20px;
  padding: 20px 20px 0px 20px;
}

aside .profile img {
  width: 160px;
  border-radius: 0 0 20px 0;
}

aside .profile p {
  font-size: x-small;
}

aside .profile a {
  color: #052942;
  text-decoration: none;
  font-size: x-small;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 0;
  width: 100%;
  height: fit-content;
  max-height: 900px;
  padding: 100px 20px 100px 20px;
  box-sizing: border-box;
  background-image: url("../assets/img/hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

.hero-description h1 {
  color: white;
  font-size: 40px;
}

.hero-description p {
  color: white;
  font-size: 18px;
}

.hero img {
  width: 50%;
  max-width: 500px;
  min-width: 300px;
}
/* end hero */
/* introduction */
.introduction {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  /* max-height:400px ; */
  padding: 0 20px ;
  background: linear-gradient(to bottom, #46c5d3, white);
}

.introduction img {
  max-width: 300px;
  max-height: 400px;
}

.introduction2 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background: white;
  padding: 0 20px ;

}

.introduction2 img {
  max-width: 300px;
  max-height: 400px;
}

.introduction-card {
  color: #052942;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* end intruduction */

/* connector */
.connector {
  display: flex;
  align-items: end;
  width: 100%;
  height: 30vh;
  max-height: 300px;
  background: linear-gradient(to bottom, white, #a8e4eb);
}

.connector-content h1 {
  text-shadow: 0px 1px 2px #052942;
  color: white;
  font-size: 40px;
  text-align: center;
}

.connector-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0 0 0;
  margin-inline: auto;
  border-radius: 40px 40px 0 0;
  background: (to bottom, white, #46c5d3);
  align-items: center;
}

.connector-content div {
  width: 80%;
  display: flex;
  flex: 2;
  justify-content: space-evenly;
}

.connector div button {
  flex-grow: 1;
  height: 10vh;
  max-height: 50px;
  color: white;
  border: none;
  background: none;
  font-size: x-large;
  cursor: pointer;
  font-weight: 700;
  border-radius: 20px 20px 0px 0px;
  text-shadow: 0px 1px 1px #052942;
}

.connector div button:hover {
  color: #46c5d3;
  background-color: white;
  transition: 0.5s;
}

/* end connector */

.alphabet {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: #a8e4eb;
  padding: 0 0 40px 0;
}

.card {
  box-sizing: border-box;
  display: block;
  width: 80%;
  height: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.alphabet .card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align:justify;
}
.alphabet img {
  align-self: center;
  max-width: 80%;
}

.alphabet img[src*="dahankuon1"] {
  max-width: 40%;
}
#katakana {
  display: none;
}

.arigato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a8e4eb;
}

.arigato h1 {
  color: white;
  font-size: 70px;
}

.arigato img {
  max-height: 300px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #233a4c;
}

footer div {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer .card-list {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

footer div h2 {
  text-align: start;
  color: white;
  font-size: xx-large;
}

footer img {
  max-width: 300px;
}

footer ul {
  font-size: large;
  color: white;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 0;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  font-size: medium;
  text-decoration: none;
  color: white;
}

footer ul li a:hover {
  color: #46c5d3;
}


@media screen and (max-width: 1200px) {

  /* introduction */
  .introduction{
    padding: 20px 20px;
    text-align: justify;
  }
  .introduction2{
    padding: 20px 20px;
    text-align: justify;

  }

}

@media screen and (max-width: 1000px) {

  .arigato h1 {
    text-align: initial;
    padding:0 80px 0 80px ;
  }
}

@media screen and (max-width: 768px) {
  *{
  overflow-x: hidden;
  }
  /* navbar */
  #navbar-container {
    flex-direction: column;
    justify-content: center;
  }
  
  /* hero */
  .hero {
    /* height: 500px; */
    flex-direction: column-reverse;
    gap: 5px;
  background: #46C5D3;
  }
  
  .hero-description {
    justify-content: center;
  }
  
  .hero-description h1 {
    padding:0 30px 0 30px;
    font-size: 18px;
    text-align: center;
  }
  
  .hero-description p {
    font-size: 15px;
    text-align: center;
  }
  
  /* introduction */
  .introduction {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .introduction2 {
    padding-top: 20px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  /* content */
  .alphabet .card {
    padding: 20px;
  }
  
  .arigato{
    flex-wrap: wrap;
  }
  
  .arigato h1 {
    padding: 0;
    text-align: center;
    width: 100%;
    order:-1;
  }

  /* aside */
  main aside{
    background-color:#a8e4eb ;
    height: 300px;
    position: static;
    height: fit-content;
  }
  main aside img[src*="sideIcon"] {
    display: none;
  }
  
  aside .biodata {
    height: fit-content;
    width: 100%;
    display: flex;
    position: static;
    justify-content: center;
    text-align: center;
    pointer-events: none;
  }
  aside .profile {
    align-items: center;
    width: 80%;
    position: static;
    background-color: #a8e4eb;
  }
  
  footer{
    align-items: center;
    flex-direction: column-reverse;
  }

  footer .card-list{

    gap: 10px;
  }
  footer ul {
    font-size: small;
  }

  footer ul li a{
    font-size: smaller;
  }
}

